body {
    text-align: center;
}

.forms-container {
    background-color: orangered;
    height: 350px;
    margin-top: 90px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20px;
    padding-right: 40px;
    display: flex;
    border-radius: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    text-align: left;
    margin-right: 70px;
}

.texto h1 {
    margin-bottom: 0;
}

.texto p {
    margin-top: 20px;
    width: 190px;
}

.forms-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-top: 80px;
}

.forms-container #forms-login {
    margin-left: 100px;
}

#forms-login p {
    text-align: left;
}

form input {
    width: 500px;
    height: 30px;
    padding-left: 10px;
}

form button {
    height: 40px;
    width: 100px;
    border-radius: 30px;
    border: none;
}

#forms-login input {
    width: 400px;
    height: 30px;
}

.btn-confirmar {
    display: flex;
    flex-direction: initial;
    gap: 10px;
    text-align: right;
}

button a {
    text-decoration: none;
    color: black;
}

.btn-confirmar #criar-conta {
    border: none;
    background-color: orangered;
}

#criar-conta:hover {
    background-color: white;
}

#home-cabecalho{
    margin-bottom: 10px;
}

.navbar-brand{
    padding-left: 10px;
}

.navbar-custom{
    background-color: orangered;
    box-shadow: 0 0 3px black;
}

.home-texto{
    margin-top: 20px;
    margin-left: 20px;
}

.cards-container {
    display: flex;
    margin-left: 20px;
    gap: 20px;
    height: 200px;
}

.card-fixa-funcionarios {
    width: 300px;
    height: 200px;
    border-left: 10px solid green !important;
    box-shadow: 0 0 1px black;
}

.card-fixa-rotatividade {
    width: 300px;
    height: 200px;
    border-left: 10px solid blue !important;
    box-shadow: 0 0 1px black;
}

.card-fixa-vagas {
    width: 300px;
    height: 200px;
    border-left: 10px solid red !important;
    box-shadow: 0 0 1px black;
}

.card-title{
    margin-bottom: 10px;
}

.card-text-funcionarios{
    color: green !important;
}

.card-text-rotatividade{
    color: rgb(4, 0, 255);
}

.card-text-vagas{
    color: red;
}

#navbarNav {
    display: flex;
    justify-content: end;
    margin-left: 20px;
    margin-right: 20px;
}

#table-container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

table{
    width: 100%;
    border: 1px solid gray;  
    box-shadow: 0 0 1px black;
}

table thead{
    background-color: grey; 
}

th, td{
    padding-left: 20px;
    padding: 15px;
}

tbody td{
    border-bottom: 1px solid gray;
}