body {
    text-align: center;
    background-color: rgb(233, 233, 233);
}

.forms-container {
    background-color: rgb(51, 97, 196);
    height: 350px;
    color: white;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20px;
    padding-right: 40px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.texto {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    text-align: left;
    margin-right: 70px;
}

.texto h1 {
    margin-bottom: 0;
}

.texto p {
    margin-top: 20px;
    width: 190px;
}

.forms-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-top: 80px;
}

.forms-container #forms-login {
    margin-left: 100px;
    margin-right: 20px;
}

.forms-container #forms-cadastro {
    margin-right: 20px;
}

#forms-login p {
    text-align: left;
}

#forms-login button a{
    color: rgb(0, 0, 0);
}

form input {
    width: 500px;
    height: 30px;
    padding-left: 10px;
}

form button {
    height: 40px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: white;
}

#forms-login input {
    width: 400px;
    height: 30px;
}

.btn-confirmar {
    display: flex;
    flex-direction: initial;
    gap: 10px;
    justify-content: end;
}


button a {
    text-decoration: none;
    color: black;
}

.btn-confirmar #criar-conta {
    border: none;
    background-color: transparent;
}

#criar-conta:hover {
    background-color: rgba(255, 255, 255, 0.904);
}

#criar-conta a:hover{
    color: black;
}

#home-cabecalho {
    margin-bottom: 10px;
}

.navbar-brand {
    padding-left: 10px;
}

.navbar-custom {
    background-color: rgb(51, 97, 196);
    box-shadow: 0 0 3px black;
}

.home-texto {
    margin-top: 20px;
    margin-left: 20px;
}

.cards-container {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    gap: 20px;
    height: 200px;

}

.card-fixa-funcionarios {
    width: 300px;
    height: 200px;
    border-left: 10px solid rgb(77, 207, 72) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-fixa-rotatividade {
    width: 300px;
    height: 200px;
    border-left: 10px solid rgb(238, 218, 43) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-fixa-vagas {
    width: 300px;
    height: 200px;
    border-left: 10px solid rgb(228, 22, 22) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-title {
    margin-bottom: 10px;
}

.card-text-funcionarios {
    color: rgb(78, 163, 75);
}

.card-text-rotatividade {
    color: rgb(168, 158, 65);
}

.card-text-vagas {
    color: rgb(228, 22, 22);
}

#navbarNav {
    display: flex;
    justify-content: end;
    margin-left: 20px;
    margin-right: 20px;
}

#navbarNav a{
    color: white;
}

.navbar-brand {
    color: #ffffff !important;
}

#table-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

table {
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

table thead {
    background-color: rgb(51, 97, 196);
    color: black;
    color: white
}

th,
td {
    padding-left: 20px;
    padding: 15px;
}

tbody td {
    border-bottom: 1px solid gray;
    background-color: white;
}

.rodape {
    text-align: center;
}

@media (max-width: 600px) {


    .forms-container {
        flex-direction: column;
        width: 90%;
        margin: 40px auto !important;
        padding: 20px;
        height: auto !important;
    }

    .texto {
        margin: 0 auto;
        text-align: center;
    }

    form input {
        width: 100% !important;
    }

    #forms-login {
        margin-left: 0 !important;
        margin-top: 20px !important;
    }

    .btn-confirmar {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .btn-confirmar button {
        width: 100%;
    }
}